.containerBig{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;

}

.boxOne{
    background-color: orange;
    display: flex;

}

.boxTwo{
    background-color: violet;
    display: flex;
}

.separame{
    margin: 5px;
    border: solid 2px black;
    border-radius: 5px;
    padding: 2px;
}

.imagen{
    padding: 2px;
    width: 60px;
    height: 60px;
}

