body{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.containerBig{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px;

}

.boxOne{
    background-color: black;
    display: flex;

}

.boxTwo{
    background-color: black;
    display: flex;
}

.separame{
    margin: 5px;
    border: solid 2px rgba(246, 246, 25, 0.497);
    border-radius: 5px;
    padding: 2px;
    color: bisque;
}

.imagen{
    padding: 2px;
    width: 60px;
    height: 60px;
}



